# macOS directory info
**/.DS_Store

# Nix build alias
**/result

# `direnv` build artifacts
**/.direnv

# Python caches
**/__pycache__
**/.hypothesis
**/.coverage

# Logs
/logs/
/saved-logs/
/convergence-rates/
